Aca se realizarán diferentes CRUD a la base de datos, esto con el fin de mostrar que desde Python es posible realizarlo

In [1]:
#Validamos funcionamiento del entorno
print('Hola Mundo')
#Recordar que es necesario tener instalalo el conector de mwsql a nivel local, esto se hace con pip install mysql-connector-python

Hola Mundo

INSERTAR DATOS

Validamos, librerias y conexión

In [2]:
#Importamos librerias
import mysql.connector

In [62]:
#Creamos variables y establecemos credenciales de conexion
conexion = mysql.connector.connect(
    user='root',
    password='',
    host='localhost',
    database='tienda',
    port='3306')
print(conexion)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002BA3972E710>

In [13]:
#Ingresamos sentencia de inserción de datos a la BD, PERO DENTRO DE UNA VARIABLE
sql = 'INSERT INTO compras (ID, nombre, cantidad, precio) VALUES (%s, %s, %s, %s)'

In [14]:
#Ingresamos los valores
values = (2, 'pantalones', 5, '30000')

In [15]:
cursor = conexion.cursor()
cursor.execute(sql,values)

Enviamos a la base de datos la información

In [16]:
conexion.commit()

Validamos si quedo el insert de forma correcta

In [18]:
import sqlite3
# Crear un cursor
cursor = conexion.cursor()
# Ejecutar la consulta
cursor.execute("SELECT * FROM compras")
# Obtener los resultados
resultado = cursor.fetchall()
# Cerrar la conexión
conexion.close()
# Mostrar los resultados
for fila in resultado:
    print(fila)

(1, 'camisa', 2, '2000')
(2, 'pantalones', 5, '30000')
(3, 'camisa', 6, '20000')

Un siguiente ejemplo

In [26]:
sql = "INSERT INTO compras (ID, nombre, cantidad, precio) VALUES (%s, %s, %s, %s)"
values = (4, 'pantaloneta', 3, '15000')
cursor = conexion.cursor()
cursor.execute(sql,values)
conexion.commit()

import sqlite3
# Crear un cursor
cursor = conexion.cursor()
# Ejecutar la consulta
cursor.execute("SELECT * FROM compras")
# Obtener los resultados
resultado = cursor.fetchall()
# Cerrar la conexión
conexion.close()
# Mostrar los resultados
for fila in resultado:
    print(fila)

(1, 'camisa', 2, '2000')
(2, 'pantalones', 5, '30000')
(3, 'camisa', 6, '20000')
(4, 'pantaloneta', 3, '15000')

MODIFICAR DATOS

In [34]:
#creamos variables
sql = 'UPDATE compras SET cantidad = %s WHERE ID = %s'
values = (10, 3)

Añadimos el cursor y hacemos commit a la base

In [35]:
cursor = conexion.cursor()
cursor.execute(sql,values)
conexion.commit()

In [37]:
import sqlite3
# Crear un cursor
cursor = conexion.cursor()
# Ejecutar la consulta
cursor.execute("SELECT * FROM compras")
# Obtener los resultados
resultado = cursor.fetchall()
# Cerrar la conexión
conexion.close()
# Mostrar los resultados
for fila in resultado:
    print(fila)

(1, 'camisa', 2, '2000')
(2, 'pantalones', 5, '30000')
(3, 'camisa', 10, '20000')
(4, 'pantaloneta', 3, '15000')

Siguiente ejemplo

In [42]:
sql = 'UPDATE compras SET precio = %s WHERE ID = %s'
values = (123456, 1)
cursor = conexion.cursor()
cursor.execute(sql, values)
conexion.commit()

import sqlite3
# Crear un cursor
cursor = conexion.cursor()
# Ejecutar la consulta
cursor.execute("SELECT * FROM compras")
# Obtener los resultados
resultado = cursor.fetchall()
# Cerrar la conexión
conexion.close()
# Mostrar los resultados
for fila in resultado:
    print(fila)

(1, 'camisa', 2, '123456')
(2, 'pantalones', 5, '30000')
(3, 'camisa', 10, '20000')
(4, 'pantaloneta', 3, '15000')

ELIMINAR REGISTROS DE UNA BASE DE DATOS

In [54]:
sql = 'DELETE FROM compras WHERE ID = %s'
values = (2, )

In [55]:
cursor = conexion.cursor()

In [56]:
cursor.execute(sql, values)
conexion.commit()

In [58]:
import sqlite3
# Crear un cursor
cursor = conexion.cursor()
# Ejecutar la consulta
cursor.execute("SELECT * FROM compras")
# Obtener los resultados
resultado = cursor.fetchall()
# Cerrar la conexión
conexion.close()
# Mostrar los resultados
for fila in resultado:
    print(fila)

(1, 'camisa', 2, '123456')
(3, 'camisa', 10, '20000')
(4, 'pantaloneta', 3, '15000')

siguiente ejemplo

In [63]:
sql = 'DELETE FROM compras WHERE ID = %s'
values = (3, )
cursor = conexion.cursor()
cursor.execute(sql, values)
conexion.commit()

import sqlite3
# Crear un cursor
cursor = conexion.cursor()
# Ejecutar la consulta
cursor.execute("SELECT * FROM compras")
# Obtener los resultados
resultado = cursor.fetchall()
# Cerrar la conexión
conexion.close()
# Mostrar los resultados
for fila in resultado:
    print(fila)

(1, 'camisa', 2, '123456')
(4, 'pantaloneta', 3, '15000')